* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #F1F5F9;
    --secondary: #FFFFFF;
    --tertiary: #D9D9D9;
    --borders: #11101061;
    --text: #000000b6;
}

/* Outer Body/Main Body */
.outer-container {
    height: 100vh;
    width: 100vw;
    background: var(--primary);
    display: flex;
}


/* Navbar */
.navbar {
    width: 100vw;
    background: #0F172A;
    height: 4rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Toggle Button */
.title-name,
.themeToggleButton {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0 1.5rem;
    color: white;
    display: flex;
    gap: .2rem;
    cursor: default;
}

/* Light and Dark button */
.darkThemeButton,
.lightThemeButton {
    height: 1.4rem;
    width: 1.6rem;
    background: #1154884e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkThemeButton {
    border-radius: 50% 0 0 50%;
}

.lightThemeButton {
    border-radius: 0 50% 50% 0;
    background: white;
}

.themeToggleButton i {
    font-size: .8rem;
    color: #FFFF;
}

.lightThemeButton i {
    color: black;
}

.showAnimation{
    animation: show-animation .4s 1 ease-in;
}

@keyframes show-animation {
    0% {
        background: rgba(255, 255, 255, 0.553);
    }

    100% {
        background: white;
    }
}





/* Inner Card */
.inner-container {
    height: 15rem;
    width: auto;
    background: var(--secondary);
    margin: auto;
    border: 2px solid var(--borders);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.innerContainerTitles {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
}

/* Amount Input Container. */
.AmountInputContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.AmountInputContainer input,
.convertFromToContainer select,
.convertButton,
.outputField {
    height: 2rem;
    background: var(--tertiary);
    border-radius: .2rem;
    border: 2px solid var(--borders);
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000000b6;
    
}

.convertFromToContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .6rem;
    /* border: 1px solid black; */
}

.convertFromContainer,
.convertToContainer {
    /* border: 1px solid black; */
    width: 100%;
}

.convertFromToContainer select {
    width: 100%;
}

.convertButtonField,
.outputField {
    width: 100%;
}

.convertButton {
    width: 100%;
    font-size: 1.2rem;
}

.outputField{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}