* {
    margin: 0;
    padding: 0;
}

/* Outer Body/Main Body */
.outer-container {
    height: 100vh;
    width: 100vw;
    background: #F1F5F9;
    display: flex;
}


/* Navbar */
.navbar {
    width: 100vw;
    background: #0F172A;
    height: 4rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Toggle Button */
.title-name,
.themeToggleButton {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 0 1.5rem;
    color: white;
    display: flex;
    gap: .2rem;
}

/* Light and Dark button */
.darkThemeButton,
.lightThemeButton {
    height: 1.4rem;
    width: 1.6rem;
    background: #1154884e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkThemeButton {
    border-radius: 50% 0 0 50%;
}

.lightThemeButton {
    border-radius: 0 50% 50% 0;
}

.themeToggleButton i {
    font-size: .8rem;
    color: #FFFF;
}

/* Inner Card */
.inner-container {
    height: 20rem;
    width: 16rem;
    background: #FFFFFF;
    margin: auto;
    border: 2px solid #11101061;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.innerContainerTitles {
    color: #000000b6;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
}

/* Amount Input Container. */
.AmountInputContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.AmountInputContainer input {
    height: 2rem;
    background: #D9D9D9;
    border-radius: .2rem;
    border: 2px solid #27252548;
    outline: none;
    padding: 0 0 0 .5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000000b6;
}